@charset "utf-8";

body {
    color: #383e45;
    margin: 0;
    font-size: 0.9rem;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 960px;
    text-align: center;
    margin: 0 auto 100px auto;
    padding: 0 5%;
    
}
    
/* ----- header ----- */
#header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}

.title {
    width: 120px;
    padding: 10px 0;
    margin: 0;
    line-height: 1px;
}

.title a {
    display: block;   
}

#header ul {
    display: flex;
}

#header li {
    margin-left: 30px;
}

#header li a{
    text-decoration: none;
    color: #24292e;
    font-size: 0.9rem;
}

#header li a:hover {
    opacity: 0.7;
}

/* ----- main ----- */
#mainvisual {
    margin-bottom: 50px;
}

#mainvisual img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#about .plofile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plofile img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
}

.h2title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    border-bottom: solid 1px #383e45;
    margin-bottom: 60px;
}

.plofile-text {
    text-align: left
}



#bicycle ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

#bicycle li {
    width: 32%;
}

/* ----- footer ----- */

footer {
    text-align: center;
    font-size: 0.5rem;
}

/* ----- Responsive ----- */

@media screen and (max-width: 600px){
    #mainvisual img {
        height: calc(100vh - 60px);
    }
    
    #about .plofile {
        flex-direction: column;
    }
    
    #bicycle ul {
        flex-direction: column;
    }
    
    #bicycle li {
        width: 100%;
    }
}